body {
    margin: 0;
}

.hide{
    display: none;
}

/* BACKGROUND IMAGE*/

.home-html{
    height: 100%; /* Adding to HTML and setting width to 100% ensures the image will fit various screen sizes*/
    background-image: url(assets/img/landingpage_bg-01.svg);
    background-repeat: no-repeat;
    background-size: cover; /* Covers the width of the page */
    background-position: center;
}

/* NAV BAR*/

.nav-bar { /* Conditions for regular nav bar */
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transform: translateZ(0);
    padding-right: 70px;
    padding-top: 30px;
}

.nav-item{ /* Conditions for nav items */
    float: right;
    display: block;
    color: #A647FF;
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3.2em;
    transition: 0.4s;
}

.nav-item:hover { /* Setting hover colour*/
    color: #BC7EDD;
}

/* TYPOGRAPHY */

h1{ /* Large font used on home page */
    font-family: 'Poppins', 'sans-serif';
    font: weight 800;
    font-size: 8em;
    line-height: 1;
    margin: 0;
    color: #A647FF;
}

h2{
    font-family: 'Poppins', 'sans-serif';
    font: weight 800;
    font-size: 3.5em;
    margin-right: 180px;
    color: #A647FF;
}

a{
    text-decoration: none;
    color: #A647FF;
}

a:hover{
    color: #BC7EDD;
}

/* HOME PAGE */

.intro-home{ /* Conditions for the intro */
    margin-left: 100px;
    margin-top: 135px;
}

/* MEDIA QUERIES */

@media (min-width: 1600px) and (max-width: 2000px){ /* Increasing Logo size on landing page on larger screens */
    /* h5{
        font-size: 10em;
    }
    .intro-home{
        margin-left: 100px;
        margin-top: 135px;
    } */
}

/* MEDIA QUERIES - LOWER RESOLUTION SCREENS */

@media (min-width: 771px) and (max-width: 1330px){
    /* h5{
        font-size: 7em;
    }
    .intro-home{
        margin-left: 50px;
    } */
}

/* MEDIA QUERIES - TABLET */

@media (min-width: 501px) and (max-width: 770px){ /* iPad */
    /* h5{
        font-size: 6em;
    }
    .intro-home{ 
        margin-left: 20px;
    } */
}

/* MEDIA QUERIES - PHONES */

@media (max-width: 500px) { /* Extra Large phone */
    /* h5{
        font-size: 6em;
    }
    .intro-home{
        margin-left: 20px;
        margin-top: 180px;
    } */
}

@media (max-width: 475px) { /* Large Phone - Pixel 3a */
    /* h5{
        font-size: 6em;
    }
    .intro-home{
        margin-left: 20px;
        margin-top: 180px;
    } */
}

@media (max-width: 380px) { /* Medium Phone - iPhone 6/7/8 */
    /* h5{
        font-size: 6em;
    }
    .intro-home{
        margin-left: 20px;
    } */
}

@media (max-width: 320px) { /* Small Phone - iPhone 5/SE */
    /* h5{
        font-size: 4.5em;
    }
    .intro-home{
        margin-left: 20px;
    } */
}